<%- include('partials/header', {title: "Final Certi"}) %>

	<div class="section no-pad-bot" id="index-banner">
		<!-- <div class="container">
			<br><br>
			<h1 class="header center blue-text">Global Cert</h1>
			<div class="row center">
				<h5 class="header col s12 light">Global Certificates is an online platform for hosting and distribution of
					e-verifiable certificates</h5>
			</div>
			<br><br>
		</div> -->
	</div>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<div class="h-100  container ">
		<div class="h-100 card">
			<h3 class="card-header center">Edit Your Certifcate</h3>
			<div class="card-body">
				<div class="card border-0 shadow">
					<img  id="target" style="width: 100%;" loading="lazy" src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img card-img-top" alt="...">
				  </div>
				  <hr>
				  <div class="d-flex justify-content-center">
			  <div class="btn-toolbar" role="toolbar" >
				<div class="btn-group" role="group" aria-label="First group">
				  <button id="btn-1"  type="submit" class="btn btn-primary"  name="action">Add Name</button>&nbsp;&nbsp;&nbsp;
				  <button id="btn-3"  type="submit" class="btn btn-primary"  name="action">Add Project</button>&nbsp;&nbsp;&nbsp;
				  <button id="btn-3"  type="submit" class="btn btn-primary"  name="action">Add Position</button>
				</div>
				&nbsp;&nbsp;&nbsp;<span class="divider-right"></span>&nbsp;&nbsp;&nbsp;
				<div class="btn-group" role="group" aria-label="Third group">
				  <button id="proceed" type="submit" name="action" class="btn btn-success"><i class="material-icons left">send</i> Done</button>
				</div>
			  </div></div>	
			</div>
		  </div>
	  
	  </div>
	

	<script>
		$(document).ready(function () {
			const arr = [];
			document.getElementById('btn-1').addEventListener("click", (e) => {
				$('#target').Jcrop({
					onSelect: function (c) {
						arr.push(c);
						console.log(arr);
					}
				})
			})
			document.getElementById('btn-2').addEventListener("click", (e) => {
				$('#target').Jcrop({
					onSelect: function (c) {
						arr.push(c);
						console.log(arr);
					}
				})
			})
			document.getElementById('btn-3').addEventListener("click", (e) => {
				$('#target').Jcrop({
					onSelect: function (c) {
						arr.push(c);
						console.log(arr);
					}
				})
			})
			document.getElementById('proceed').addEventListener('click', async (e) => {
				const filename = {
					file: "<%= typeof file != 'undefined' ? file : '' %>",
					csv: "<%= typeof csv != 'undefined' ? csv : '' %>"
				}
				localStorage.setItem('file', filename.file);
				localStorage.setItem('csv', filename.file);
				arr.push(filename);
				const data = {
					...arr
				}
				const res = await fetch('/api/coordinates', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'Accept': 'application/json'
					},
					body: JSON.stringify(data)
				});
				const datal = await res.json();
				localStorage.setItem('file',datal.file);
				localStorage.setItem('length',datal.len);
				location.href = '/final';
			})
		})
	</script>

<%- include('partials/footer') %>