<%- include('partials/header', {title: "Final Certi"}) %>

	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<br><br>
			<h1 class="header center blue-text">Global Cert</h1>
			<div class="row center">
				<h5 class="header col s12 light">Global Certificates is an online platform for hosting and distribution of
					e-verifiable certificates</h5>
			</div>
			<br><br>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="row center">
				<h4 class="header col s12 bold">Edit Your Certifcate</h4>
			</div>
		</div>
		<!-- <div class="col s12 m4 l2"><p>s12 m4</p></div> -->
		<div class="col s12 m4 l8">
			<img id="target" src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
		</div>
		<div class="col s12 m4 l2">
			<div class="row">
				<div class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<button id="btn-1" class="btn waves-effect waves-light" type="submit" name="action">Add Name

							</button>
						</div>
						<div class="input-field col s12">
							<button id="btn-2" class="btn waves-effect waves-light" type="submit" name="action">Add Project

							</button>
						</div>
						<div class="input-field col s12">
							<button id="btn-3" class="btn waves-effect waves-light" type="submit" name="action">Add Position

							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row center">
		<button class="btn waves-effect waves-light" id="proceed" type="submit" name="action">Done!
			<i class="material-icons right">send</i>
		</button>
	</div>

	<script>
		$(document).ready(function () {
			const arr = [];
			document.getElementById('btn-1').addEventListener("click", (e) => {
				$('#target').Jcrop({
					onSelect: function (c) {
						arr.push(c);
						console.log(arr);
					}
				})
			})
			document.getElementById('btn-2').addEventListener("click", (e) => {
				$('#target').Jcrop({
					onSelect: function (c) {
						arr.push(c);
						console.log(arr);
					}
				})
			})
			document.getElementById('btn-3').addEventListener("click", (e) => {
				$('#target').Jcrop({
					onSelect: function (c) {
						arr.push(c);
						console.log(arr);
					}
				})
			})
			document.getElementById('proceed').addEventListener('click', async (e) => {
				const filename = {
					file: "<%= typeof file != 'undefined' ? file : '' %>",
					csv: "<%= typeof csv != 'undefined' ? csv : '' %>"
				}
				localStorage.setItem('file', filename.file);
				localStorage.setItem('csv', filename.file);
				arr.push(filename);
				const data = {
					...arr
				}
				const res = await fetch('/api/coordinates', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'Accept': 'application/json'
					},
					body: JSON.stringify(data)
				});
				const datal = await res.json();
				localStorage.setItem('file',datal.file);
				localStorage.setItem('length',datal.len);
				location.href = '/final';
			})
		})
	</script>

<%- include('partials/footer') %>